# CMake & Build outputs
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
*.o
*.obj
*.exe
*.dll
*.lib
*.out
compile_commands.json

# CLion / JetBrains IDEs
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Project specific
data/
cmake-build-debug/
.idea/
*.bin
